@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* .azeret-mono-<uniquifier> {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
   *{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
   }
   /* header styels */
   .para-button{
    width: 1150px;
    height: 62px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   }
   .para-button h4{
    margin-top: 12px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;

   }
   .nav-button{
    width: 228px;
height: 58px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
opacity: 0.8;
   } 
   /* header background styles */
   .header-bg{
    max-width:  1440px;
    height: 652px;
    
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 18px;
   }
   .header-bg-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .image{
    width: 240.28px;
height: 240px;

margin-top: 20px;
   }
   .header-bg-content h3{
    width: 998px;
    height: 136px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
margin-top: 32px;
margin-bottom: 24px;
   }
   .header-bg-content p{
    width: 852px;
height: 52px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;

   }
   .header-bg-content button{
    width: 208px;
height: 66px;
border-radius: 8px;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
margin-top: 50px;
   }

   /* why-dev section styles */
   .why-dev{
    width: 1140px;
height: 1393px;
margin: 0 auto;

border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
margin-top: 80px;
   }
   .why-div-content{
    width: 946px;
height: 1233px;

margin: 0 auto;
margin-top: 80px;
   }
   .why-div-h4-p{
    width: 852px;
height: 113px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
   }
   .why-div-h4-p h4{
    margin:0 auto;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;

   }
   .why-div-h4-p p{
    margin:0 auto;
    margin-left: 30px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;

   }
   .do-coding{
    width: 946px;
height: 336px;
padding:20px;

margin : 0 auto;
display: flex;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
   }
   .do-leftside{
    width:60%;
    height: 100%;
    
   }
   .do-leftside h4{

    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
   }
   .do-leftside p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-top: 16px;
margin-bottom: 32px;
   }
   .button-styles{
    width: 171px;
height: 47px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
   }
   .do-rightside{
    width:40%;
    height: 100%;
    
   }
   .do-rightside img{

    width: 259.56px;
height: 217.01px;
margin-left: 80px;
   }
   
   .help-people{
    width: 946px;
    height: 336px;
    padding:20px;
    margin : 0 auto;
    display: flex;
    border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

   }
   .help-leftside{
    width:40%;
    height: 100%;
    
   }
   .help-rightside{
    width:60%;
    height: 100%;
   
   }
   .help-rightside h4{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;

   }
   .help-rightside p{

    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-top: 16px;
margin-bottom: 32px;
   }
   .help-leftside img{

    width: 259.56px;
height: 217.01px;}
/* my-inspiration-container section styles */
   .my-inspiration-container{
    width: 1140px;
height: 740px;

margin: 0 auto;
margin-top: 88px;
   }
   .my-inspiration-content{
    width: 852px;
height: 113px;
margin: 0 auto;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 48px;
   }
   .my-inspiration-content h2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
margin-bottom: 24px;
   }
   .my-inspiration-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

   }
   .youtube-video{
    width: 1140px;
height: 614px;

box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
   }
   .i-frame{
    width:1076px;
     height:550px;
     margin: 0 auto;
     padding: 32px;
   }
   /* my-current-target section starts here */
.my-current-target{
    width: 1140px;
height: 460px;
margin: 0 auto;
margin-top: 180px;

   }
   .my-current-target-container{
    width: 946px;
height: 113px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 45px;
   }
   .my-current-target-container h1{

    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
   }
   .my-current-target-container p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;


   }
   .html-css-js{
    width: 1140px;
height: 299px;
display: flex;
justify-content: center;
align-items: center;
   }
   .shared-div{
    width:33.33%;
    height:100%;
    margin: 40px;
   }
   .shared-div img{
    width: 56px;
height: 56px;
   }
   .shared-div h4{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
margin-top: 24px;
margin-bottom: 10px;
   }
   .shared-div p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 24px;

   }
   .shared-div a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
   }
   .left-side{
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
   }
   .middle{
    border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
   }
   .right-side{
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
   }
   /* need-support section styles */
   .need-support{
    width: 1140px;
height: 350px;

border-radius: 16px;
background-color: rgba(0, 0, 0, 0.4);
background-image: url(../assets/handshake.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
border: 2px solid red;
margin : 0 auto;
margin-top: 60px;
background-blend-mode: overlay;
   }
   .need-support-content{
    width: 1044px;
height: 185px;
margin: 79px auto;
border: 2px solid yellow;
   }
   .i-need{
    width: 730px;
height: 104px;
margin-left: 150px;
margin-right: 150px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

   }
   .i-need h4{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;

   }
   .i-need center{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
opacity: 0.7;
margin-top: 16px;

   }
   .input-button{
    width: 1044px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
   }
   .in-btn
   {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
   }
   .input-button button{
    width: 120px;
height: 57px;
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
   }
   